#btfr-btn-start {
  background: #AA0000;
}
#btfr-btn-start:hover {
  background: #980000;
}
#btfr-btn-start:active {
  background: #770000;
}
#btfr-btn-start:checked {
  background: #880000;
}

#btfr-btn-b {
  background: #00AA00;
}
#btfr-btn-b:hover {
  background: #009800;
}
#btfr-btn-b:active{
  background: #007700;
}
#btfr-btn-b:checked {
  background: #008800;
}

#btfr-btn-a {
  background: #0000AA;
}
#btfr-btn-a:hover {
  background: #000098;
}
#btfr-btn-a:active {
  background: #000077;
}
#btfr-btn-a:checked {
  background: #000088;
}